body {
  margin     : 0;
  padding    : 0;
  font-family: Open Sans;
  font-style : normal;
  font-weight: normal;
}

.actions {
  margin-bottom: 10px;
}

.popup {
  width  : 350px;
  height : 100px;
  padding: 3px;
}

.popup button {
  width     : 100%;
  margin-top: 5px;
}

.container-phrases ul {
  padding: 0;
}

.item-phrase {
  display: inline-table;
  width  : 100%;
  padding: 10px;
}

.item-phrase:hover {
  background: #f4f4f4;
}

.item-phrase>span.text {
  width  : 80%;
  display: table-cell;
}

.item-phrase>span.icons {
  display       : table-cell;
  vertical-align: middle;
}

.item-phrase>span.icons>a>i {
  font-size: 25px;
  padding  : 2px;
  color    : black;
}

i:hover {
  cursor: pointer;
}