body {
  margin: 0;
  padding: 0;
}

.actions {
  margin-bottom: 10px;
}

.popup {
  width: 350px;
  height: 100px;
  padding: 3px;
}

.popup button {
  width: 100%;
  margin-top: 5px;
}

.container-phrases ul {
  padding: 0;
}

.item-phrase {
  display: inline-block;
  width: 100%;
  padding: 5px 0 0 5px;
  margin-bottom: 5px;
}

.item-phrase > span.text {
  width: 80%;
  display: inline-block;
}

.item-phrase > span.icons {
  display: flex;
  float: right;
}

.item-phrase > span.icons > a > i {
  font-size: 25px;
  padding: 2px;
  color: black;
}

i:hover {
  cursor: pointer;
}
